<aside class="dashboard__sidebar">
	<div class="dashboard__sidebar--avatar-section">
		<div class="avatar-top">
			<%= gravatar_for @user, size: 120 %>
			<h1><%= @user.name %></h1>
			<span><%= at_username @user %></span>
		</div>
		<div class="avatar-bottom">
			<div class="avatar-bottom__stat">
				<h2>77</h2>
				<span>posts</span>
			</div>
			<div class="avatar-bottom__stat">
				<h2>15</h2>
				<span>following</span>
			</div>
			<div class="avatar-bottom__stat">
				<h2>22</h2>
				<span>followers</span>
			</div>
		</div>
	</div>
	<a href="#" class="dashboard__sidebar--follow-btn btn btn__lg btn__primary">Follow</a>
	<div class="dashboard__sidebar--settings-menu">
		<ul>

			<li>
				<%= link_to '<i class="fa fa-cog"></i>Account<i class="fa fa-angle-right"></i>'.html_safe, edit_user_path(current_user), class: "account-item" %>
			</li>
			<li>
				<a class="notifications-item" href=""><i class="fa fa-exclamation-circle"></i>Notifications<i class="fa fa-angle-right"></i></a>
			</li>
			<li>
				<a class="help-item" href=""><i class="fa fa-question-circle"></i>Help<i class="fa fa-angle-right"></i></a>
			</li>
			<li>
				<%= link_to '<i class="fa fa-sign-out"></i>Sign Out<i class="fa fa-angle-right"></i>'.html_safe, logout_path, class: "signout-item", method: "delete" %>
			</li>
		</ul>
	</div>
</aside>


