<div class="dashboard__sidebar--avatar-section">
	<div class="avatar-top">
		<%= link_to gravatar_for(current_user, size: 120), current_user %>
		<h1><%= current_user.name %></h1>
		<span><%= at_username current_user %></span>
	</div>
	<div class="avatar-bottom">
		<%= link_to(current_user, class: "avatar-bottom__stat") do %>
			<% if current_user.microposts.any? %>
				<h2><%= current_user.microposts.count %></h2>
			<% end %>
			<span>posts</span>
		<% end %>
		<% @user ||= current_user %>
		<a href="<%= following_user_path(@user) %>" class="avatar-bottom__stat">
			<h2><%= @user.following.count %></h2>
			<span>following</span>
		</a>
		<a href="<%= followers_user_path(@user) %>" class="avatar-bottom__stat">
			<h2><%= @user.followers.count %></h2>
			<span>followers</span>
		</a>
	</div>
</div>