<div class="site-footer-push"></div>
<footer class="site-footer">
	<div class="site-footer-content">
		<div class="site-footer-content__column">
			<figure class="site-footer-content__column--logo">
				<figcaption><%= link_to "Lemur",   root_path %></figcaption>
				<%= link_to image_tag("global/logo.png", alt: "Lemur"), root_path %>
			</figure>
		</div>
		<div class="site-footer-content__column">
			<h5>About</h5>
			<ul>
				<li><%= link_to "About",   about_path %></li>
				<li><%= link_to "Terms",   terms_path %></li>
				<li><%= link_to "Help",   help_path %></li>
			</ul>
		</div>
		<div class="site-footer-content__column">
			<h5>Connect With Us</h5>
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
				<li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i>Google+</a></li>
			</ul>
		</div>
	</div>
</footer>